body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /** animations sometimes shakes up and down to fix that problem this is the fix  */
    /**allows to see us back part of the element  */
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        /*! other properties */
        /** will wait for given amount of time before starting the animation */
        /* animation-delay: 2s; */
        /** this is the count you want animation to repeat  */
        /* animation-iteration-count: 3; */
        /** function for animation to appears like slow initially and faster later etc  */
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        /* animation-name: moveInRight; */
        /* animation-duration: 1s; */
        /* shorthand property for animation */
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // below 3 properties combined makes the heading color as a gradient
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // there is background clip property also but it does something different than this -webkit-background-clip: ;
    // background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);

    }

}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;

}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}